<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
</head>

<body>

    <h1>Directory listing for: {{path}}</h1>
    <p>
        {{#if parent}}<a href="{{parent}}">..</a><br>{{/if}}
        {{#each items}}
        <a href="{{@root.path}}{{this}}">{{this}}</a><br>
        {{/each}}
    </p>

</body>

</html>