<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
</head>

<body>

    <h1>{{path}}</h1>
    <p>
    <table>
        <tr>
            <th style="min-width: 16em;">name</th>
            <th style="min-width: 5em;">size</th>
            <th style="min-width: 5em;">last modified</th>
        </tr>
        {{#if parent}}
        <tr>
            <td><a href="{{parent}}">⏎</a></td>
        </tr>
        {{/if}}
        {{#each items}}
        <tr>
            <td><a href="{{url}}">{{name}}</a></td>
            <td>{{size}}</td>
            <td>{{mtime}}</td>
        </tr>
        {{/each}}
    </table>
    </p>

</body>

</html>