<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
</head>

<body>

    <h1>{{path}}</h1>
    <p>
        {{#if parent}}<a href="{{parent}}">â</a><br>{{/if}}
        {{#each items}}
        <a href="{{url}}">{{name}}</a><br>
        {{/each}}
    </p>

</body>

</html>